<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
    <title>flashcard</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../webapp/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/app.css}" href="../../webapp/css/app.css" />
</head>
<body>
    <div layout:fragment="content">
        <h1>Entity Not Found</h1>
        <p>There are some conflicts. Please contact the system administrator</p>
    </div>
</body>
</html>

