<div class="modal-header">
	<button type="button" class="close" aria-label="Close" data-ng-click="controller.cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Create Questionnaire</h3>
</div>
<div class="modal-body">
	<div data-form data-controller="controller"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" data-ng-click="controller.cancel()">Cancel</button>
    <button class="btn btn-success" type="button" data-ng-click="controller.ok()">OK</button>
</div>